/*-----HOME-----*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 32px;
  }

  section {
    padding: 32px;
  }
}
@media (min-width: 856px) {
  header .navbar a {
    font-size: 20px;
  }
}
@media (max-width: 855.8px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 1.6px solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 24px;
    padding: 24px;
    display: block;
    border: 3.2px solid rgba(0, 0, 0, 0.1);
    border-left: 8px solid var(--red);
    background: #fff;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }
}
/*-------About-------*/
@media (max-width: 768px) {
  .timg-half-width.tabsolute {
    position: relative;
  }
  .tarticle.tintroduce-2 {
    width: calc(100% - 80px);
    margin: 0 0 0 40px;
  }
  .timg-half-width-out-container {
    width: 100%;
    margin: 30px 0;
  }
  .tbox-slider-4.introduce,
  .tbox-slider-4.introduce .tcontainer-text-block {
    height: 456px;
  }
  .tbox-slider-4.introduce .tcontainer-text-block {
    float: left;
    margin: 320px 0 0 0;
    height: auto;
  }
  .tbox-slider-4.introduce .tcontainer-text-block .tarticle-block {
    position: relative;
    left: 0;
    top: 0;
    float: left;
    transform: none;
  }
  .tbox-slider-4.introduce
    .tarticle.tarticle-block.introduce
    .tcontent-article {
    color: #444444;
  }
  .tbox-slider-4.introduce .tarticle.tarticle-block.introduce .ttitle-article {
    margin: 0 0 60px 0;
  }
}
/*-----CONTACT-----*/
@media (max-width: 768px) {
  .logo-search-footer {
    width: 100%;
    float: left;
  }
}
/*-----MENU-----*/
@media (max-width: 480px) {
  .menu_nav-navbar ul {
    display: flex;
    justify-content: stretch;
  }
}

@media (max-width: 768px) {
  .menu_nav-navbar {
    margin-top: 120px;
  }
}

/*-----SIGN UP-----*/
@media (min-width: 992px) {
  html,
  body {
    font-size: 18px;
  }
  body {
    background: url("../images/bg.jpg") repeat top center fixed;
  }
  .pc {
    display: block;
  }
  .mb {
    display: none;
  }
  .container {
    width: 1024px;
    max-width: 1024px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .pc {
    display: none;
  }
  .mb {
    display: block;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/*-----LOG IN-----*/
@media (max-width: 800px) {
  .tblock-contact-inmap {
    display: none;
  }
}
/*-----LOG IN-----*/
@media (max-width: 1200px) {
  .login-box {
    width: 90%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 900px) {
  .login-box {
    width: 83.33333333%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    padding: 0;
  }
}
